@media only screen and (max-width: 300px) {

    .email-card {
        color: #616161;
        padding: 12px 4px;
    
        .options {
            display: none;
        }
    
        .content {
            font-size: 12px;
          }
    }

}

