<header>

    <!-- branding -->
    <div id="brand">
        <div class="sidemenu-button">
            <i class="bi bi-list"></i>
        </div>
        <div class="logo">
            <img src="../../../assets/images/gmail logo.png" alt="" srcset="">
        </div>
    </div>

    <!-- search bar -->
    <div id="search">
        <div class="searchbox">
            <button><i class="bi bi-search"></i></button>
            <input type="text" placeholder="Search in mail" />
            <!-- <button><i class="bi bi-x"></i></button> -->
            <button><i class="bi bi-sliders2"></i></button>
        </div>

        <div class="other-settings">
            <button class="active-status" (click)="toggle()"><span></span> Active <i class="bi bi-caret-down-fill"></i>
            
                <div class="change-status" *ngIf="submenu">
                    <div>active</div>
                    <div>deact</div>
                </div>
            
            </button>
            <div class="support"><i class="bi bi-question-circle"></i></div>
            <div class="setting"><i class="bi bi-gear"></i></div>
        </div>
    </div>

    <!-- user profile -->
    <div id="user">
        <div class="apps">
            <a href="#"><i class="bi bi-grid-3x3-gap-fill"></i></a>
        </div>

        <div class="avatar">
            <a href="#">
                <img src="https://www.w3schools.com/howto/img_avatar.png" alt="avatar" />
            </a>
        </div>
    </div>
</header>