/* You can add global styles to this file, and also import other style files */


* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: .875rem;
    background-color: #f6f8fc;
}

i {
    font-size: 24px;
}

button {
    border: none;
}